/* ----------------------------------------------- */
/* SECTION BRAND */
/* ----------------------------------------------- */

.section-brand {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 50px;
  border-top: 1px solid #ccc;
  padding-top: 40px;

  &__img {
    justify-self: center;
    width: calc(100% / 6);
    padding: 0 15px;
  }
}
