footer {
  background-color: #222;

  .footer-top {
    padding: 85px 0 50px 0;
    border-bottom: 1px solid #777;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__logo {
      width: 285px;
      margin-bottom: -5px;

      &__img {
        width: 100%;
        height: 100%;
      }
    }

    & p {
      font-size: 1.4rem;
      color: #777;
      text-align: center;
      margin-bottom: 45px;
    }

    &__soical {
      display: flex;
      justify-content: center;

      &--icon {
        & i {
          font-size: 2rem;
          color: #777;
        }

        &:not(:last-child) {
          margin-right: 40px;
        }
      }
    }
  }

  .footer-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 75px auto;
    margin-bottom: 5rem;

    &__columns {
      margin-left: 7px;
      & h2 {
        font-size: 1.8rem;
        color: #fff;
        font-weight: 700;
        margin-bottom: 3rem;
        text-transform: uppercase;
      }

      & .footer-bottom__column--link {
        margin-bottom: 15px;

        &:hover a {
          color: #ccc;
        }

        & a {
          font-size: 1.4rem;
          color: #777;
          font-weight: 400;
        }

        & i {
          font-size: 1.4rem;
          color: #777;
          margin-right: 1.5rem;
        }
      }
    }
  }
}

/* FOOTER COPY RIGHT*/
.footer-copyright {
  background-color: #111;
  & h2 {
    text-align: center;
    padding: 2rem 0;
    font-size: 1.4rem;
    color: #777;
    font-weight: 400;
  }
}