/* ----------------------------------------------- */
/* SECTION OVERVIEW */
/* ----------------------------------------------- */

.section-overview {
  display: flex;
  flex-wrap: wrap;
  margin-top: -80px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &__item {
    width: calc(100% / 3);
    background-color: #fff;
    z-index: 10;
    overflow: hidden;

    &:nth-child(1) {
      order: 1;
    }
    &:nth-child(2) {
      order: 2;
    }
    &:nth-child(3) {
      order: 3;
    }
    &:nth-child(4) {
      order: 4;
    }
    &:nth-child(5) {
      order: 5;
    }
    &:nth-child(6) {
      order: 6;
    }

    &:nth-child(2n) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      img {
        object-fit: contain;
      }

      h2 {
        font-size: 1.8rem;
        font-weight: bold;
        text-transform: uppercase;
        margin: 2rem 0;
      }

      p {
        text-align: center;
        font-size: 1.4rem;
        color: #777;
      }
    }
    &:nth-child(2n + 1) {
      object-fit: cover;
    }

    & img {
      height: 100%;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transition: all 0.5s ease;
      -webkit-transition: 0.5s ease;
      -moz-transition: 0.5s ease;
      -ms-transition: 0.5s ease;
      -o-transition: 0.5s ease;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
      }

      .overview-icon {
        width: 53px;
        height: 70px;
        object-fit: contain;
      }
    }
  }
}
