/* TABLET  */

@media screen and (max-width: 56.25rem) {
  html {
    font-size: 50%;
  }

  .header-content .header-content__left {
    width: 100%;
  }

  .header-content .header-content__left h1 {
    font-size: 5rem;
  }

  .tabcontent .tabcontent-card {
    width: calc(100% / 2);
  }
  #sidebarMenu {
    display: none;
  }
  .header-top__logo {
    margin-left: 4rem;
  }

  .row.section-brand .section-brand__img {
    width: calc(100% / 2);
  }
  .header-top__main {
    display: none !important;
  }
  .sidebarIconToggle {
    display: block !important;
  }
  #sidebarMenu {
    display: block;
  }
  .row.footer-bottom,
  #tab1.tabcontent {
    grid-template-columns: repeat(2, 1fr);
  }

  /* .row.section-overview {
    grid-template-columns: repeat(2, 1fr);
  } */
  .row .section-overview .section-overview__item {
    width: calc(100% / 2);
  }

  .row .section-overview .section-overview__item:nth-child(3) {
    order: 4;
  }
  .row .section-overview .section-overview__item:nth-child(4) {
    order: 3;
  }

  #js--menu {
    /* display: block!important; */
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    height: 100vh;
    width: 50%;
  }

  #js--menu .header-top__main--link a {
    color: #000;
  }

  #js--menu .header-top__main--link {
    margin-left: 0;
    padding: 10px;
  }
}

/* MOBILE  */

@media screen and (max-width: 37.5rem) {
  .row .section-overview .section-overview__item .overview-icon {
    width: 25px;
    height: 35px;
  }

  .row .section-overview .section-overview__item  p {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    line-height: 1.8em;
  }
  section.row.section-brand {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-product__tab .section-product__tab--link {
    font-size: 1rem
  }

  .section-aboutus h1 {
    font-size: 2.5rem
  }
  .slideshow-container .mySlides p,
  .section-overview .section-overview__item:nth-child(2n) h2 {
    font-size: 1.2rem
  }
  .footer-bottom__columns h2 {
    font-size: 1.2rem
  }

  .footer-bottom__columns .footer-bottom__column--link a,
  .footer-copyright h2,
  .footer-bottom__columns .footer-bottom__column--link i,
  .section-overview .section-overview__item:nth-child(2n) p {
    font-size: 1rem;
  }

  .tabcontent .tabcontent-card h3,
  .tabcontent .tabcontent-card h1 {
    margin: 0 10px
  }
  .tabcontent-card .tabcontent-card__action .tabcontent-card__action--icon i {
    font-size: 10px !important;
  }
  .tabcontent-card .tabcontent-card__action .tabcontent-card__action--icon {
    padding: 5px !important;
  }
  .tabcontent-card .tabcontent-card__action {
    top: 5px !important;
    right: 5px !important;
  }
}
